.App {
  background-color: black;
  width: 90%;
  max-height: 80vh;
  margin: auto;
  margin-top: 1%;
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  color: #f00;
  margin: auto;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

.guess {
  display: grid;
}

.row {
  margin: auto;
  display: flex;
}

.col-3 {
  background-color: #fff;
  border-radius: 20px;
  margin: auto;
  max-width: 40%;
  min-height: 35vh;
  max-height: 70vh;
  margin-bottom: 2%;
}

input {
  border-radius: 10px;
  margin: auto;
  padding: 5px;
  margin-top: 1%;
  margin-bottom: 1%;
}

.btn {
  margin: auto;
  border-radius: 10px;
  margin-top: 1%;
  margin-bottom: 1%;
}
.helper {
  background-color: #0101;
  margin: auto;
  padding: 5px;
  width: 50%;
  color: blue;
}

.right-guess {
  background-color: #0202;
  width: 15%;
  height: 15%;
  font-size: 3rem;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
}

.right-guess h2 {
  font-size: 2rem;
}

p {
  color: blue;
}
